/*style header*/
.navbar {
  border-radius: 0;
  margin: auto;
}
.navbar-brand span {
  color: #ff740e;
}

        /*style INDEX*/
.titrePage {
  text-align: center;
}
.plusFilm {
  margin: auto;
}
/*form recheche*/
.filtresRecherche {
  border: 2px solid black;
  background-color: rgba(0, 0, 0, 0.2);
  max-width: 75%;
  display: none;
  position: relative;
  margin-top: 1em;
}
.filtresRecherche button {
  position: absolute;
  bottom: 0;
  right: 0;
}

/*display des affiches*/
.displayAffiches {
  height: 300px;
  width: auto;
}

/*Style FOOTER*/
footer {
  position: relative;
  bottom: 0;
  margin-top: 1em;
  text-align: center;
  width: 100%;
  background-color: black;
  color: #ff6400;
  font-family: sans-serif;
}

/*style page*/
body {
  background-color: lightgrey;
  /*font-family: fantasy;*/
}

/*style page details*/
.affichage{
  text-align: center;
  padding-top: 1em;
  margin-top: 1em;
  font-size: 20px;
}

.thumbnail{
  text-align: center;
  margin-top: 5em;
  margin-left: 15em;
  margin-right: 15em;
  margin-bottom: 5em;
}

img{
  margin: 1em;
  padding: 1em;
}
h1 {
  font-size: 36px;
  border: 3px solid  #ff6400;
  margin-left: 35%;
  margin-right: 35%;
}
.detailcss {
  font-size: 20px;
}
/*evaluation*/
.evaluation {
  background-color:#FAFAFA;
	border:1px solid #EFEFEF;
	padding:15px 15px 20px 15px;
	border-radius:3px;
  font-weight: bolder;
}
.red {
  color: red;
}
#form_inscription {
  margin-top: 10%;
  margin-bottom: 20%;
  margin-left: 40%;
}
label{
	display: block;
	width: 200px;
	float: left;
  }
/*boutons*/
.boutonRegister {
	background-color: white;
	padding: 10px 50px 10px;
  border-radius: 10%;
}
.boutonReset {
  background-color: red;
	padding: 10px 50px 10px;
  border-radius: 10%;
}
a:hover {
  text-decoration: none;
}

/*TEST RESEAUX*/
.btn-center{
  width: 50%;
  text-align: center;
  margin: inherit;
}
.social-login-btn {
  margin: 5px;
  width: 20%;
  font-size: 250%;
  padding: 0;
}
.social-login-more {
  width: 45%;
}
.social-google {
  background-color: #da573b;
  border-color: #be5238;
}
.social-google:hover{
  background-color: #be5238;
  border-color: #9b4631;
}
.social-twitter {
  background-color: #1daee3;
  border-color: #3997ba;
}
.social-twitter:hover {
  background-color: #3997ba;
  border-color: #347b95;
}
.social-facebook {
  background-color: #4c699e;
  border-color: #47618d;
}
.social-facebook:hover {
  background-color: #47618d;
  border-color: #3c5173;
}
.social-linkedin {
  background-color: #4875B4;
  border-color: #466b99;
}
.social-linkedin:hover {
  background-color: #466b99;
  border-color: #3b5a7c;
}
/*page connexion*/
#form_connexion{
  text-align: center;
  margin-top: 10%;
  margin-left: 25%;
  margin-right: 50%;
  margin-bottom: 27%
}
