/*style header*/
.navbar {
  border-radius: 0;
  margin: auto;
}
.navbar-brand span {
  color: #ff740e;
}
.navbar-right {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: medium;
  text-transform: uppercase;
}

        /*style INDEX*/
.titrePage {
  text-align: center;
}
.plusFilm {
  margin: auto;
}
/*form recheche*/
.filtresRecherche {
  border: 2px solid black;
  background-color: rgba(0, 0, 0, 0.3);
  max-width: 75%;
  display: none;
  margin-top: 1em;
  font-size: 20px;
  position: relative;
}

.filtresRecherche button {
  position: absolute;
  bottom: 0;
  right: 0;
}

/*display des affiches*/
.displayAffiches {
  height: 300px;
  width: auto;
  position: relative;
}

/*Style FOOTER*/
footer {
  position: relative;
  bottom: 0;
  margin-top: 1em;
  text-align: center;
  width: 100%;
  background-color: black;
  color: #ff6400;
  font-family: sans-serif;
}

/*style page*/
body {
  background-image: url('../img/Grey_Wallpaper.jpg');
  background-size: cover;
}
/*style page details*/
.affichage{
  text-align: center;
  padding-top: 1em;
  margin-top: 1em;
  font-size: 20px;
}

.thumbnail{
  text-align: center;
  margin-top: 5em;
  margin-left: 8em;
  margin-right: 8em;
  margin-bottom: 5em;
  background-color: rgba(255, 255, 255, 0.7);
}

img{
  margin: 1em;
  padding: 1em;
}
h1 {
  font-size: 36px;
  border: 2px solid  #ff6400;
  margin-left: 35%;
  margin-right: 35%;
  background-color: rgba(255, 255, 255, 0.7);
  color : #ff6400;
}
.detailcss {
  font-size: 20px;
}
/*evaluation*/
.evaluation {
  background-color:#FAFAFA;
	border:1px solid #EFEFEF;
	padding:15px 15px 20px 15px;
	border-radius:3px;
  font-weight: bolder;
}
.red {
  color: red;
}
#form_inscription {
  display: flex;
  margin-top: 10em;
  margin-bottom: 8em;
  border: 5px solid #ff6400;
  font-size: 21px;
  color: #ff6400;
  background-color: rgba(0, 0, 0, 0.1);
}
label{
	display: block;
	width: 200px;
	float: left;
  }
/*boutons*/
.btn {
  border-radius: 0px;
}
.boutonRegister {
	padding: 10px 50px 10px;
}
.boutonReset {
  background-color: rgba(23, 22, 22, 0.77);
	padding: 10px 50px 10px;
}
a:hover {
  text-decoration: none;
}
.removeList {
  position: absolute;
  bottom: 6px;
  left: 60px;
}

/* RESEAUX*/
.facebook{
  
}
.twitter{

}
.google{

}
.link{

}


.btn-center{
  width: 50%;
  text-align: center;
  margin: inherit;
}
.social-login-btn {
  margin: 5px;
  width: 20%;
  font-size: 250%;
  padding: 0;
}
.social-login-more {
  width: 45%;
}
.social-google {
  background-color: #da573b;
  border-color: #be5238;
}
.social-google:hover{
  background-color: #be5238;
  border-color: #9b4631;
}
.social-twitter {
  background-color: #1daee3;
  border-color: #3997ba;
}
.social-twitter:hover {
  background-color: #3997ba;
  border-color: #347b95;
}
.social-facebook {
  background-color: #4c699e;
  border-color: #47618d;
}
.social-facebook:hover {
  background-color: #47618d;
  border-color: #3c5173;
}
.social-linkedin {
  background-color: #4875B4;
  border-color: #466b99;
}
.social-linkedin:hover {
  background-color: #466b99;
  border-color: #3b5a7c;
}
/*page connexion*/
#form_connexion {
  display: flex;
  margin-top: 10em;
  margin-bottom: 8em;
  border: 5px solid #ff6400;
  font-size: 21px;
  color: #ff6400;
  background-color: rgba(0, 0, 0, 0.1);
}
/*page modif*/
.form_modif {
  border: 5px solid #ff6400;
  color: #ff6400;
  background-color: white;
  padding: 5em;
  margin: 20.5em;
}
.oublie {
  color: #ff6400;
  font-size: 30px;
  font-weight: bolder;
}

/*evaluation*/
.btn-grey{
    background-color:#D8D8D8;
	color:#FFF;
}
.rating-block{
	background-color:#FAFAFA;
	border:1px solid #EFEFEF;
	padding:15px 15px 20px 15px;
	border-radius:3px;
}
.bold{
	font-weight:700;
}
.padding-bottom-7{
	padding-bottom:7px;
}

.review-block{
	background-color:#FAFAFA;
	border:1px solid #EFEFEF;
	padding:15px;
	border-radius:3px;
	margin-bottom:15px;
}
.review-block-name{
	font-size:12px;
	margin:10px 0;
}
.review-block-date{
	font-size:12px;
}
.review-block-rate{
	font-size:13px;
	margin-bottom:15px;
}
.review-block-title{
	font-size:15px;
	font-weight:700;
	margin-bottom:10px;
}
.review-block-description{
	font-size:13px;
}

.note {
  color: #ff6400;
  font-size: 20px;
  font-weight: bolder;
}
.invalide{
  color: red;
  text-align: center;
  font-weight: bolder;
  font-size: 30px;
}
/*alignement */
.searchbar {
margin-top: 100px;
}
.alignv {
  max-height: 450px;
  overflow-y: scroll;
  float: left;
  text-align:left;
  padding-left: 120px;
}
input.btn.btn-warning{
  position: absolute;
  bottom: 0;
  right: 0;
}
.star{
  background-image:url('../img/star.png');
  background-position:left -2px;
  display:block;
  width:20px;
  height:16px;
  line-height:16px;
  float:left;
  cursor:pointer;
  zoom:1
  }
  .fullStar{
    background-position:left -59px
  }
  .stars{
    overflow:hidden;
    margin-left: 47%;
    padding-top: 2%;
  }
  .tmp_es{
    background-position:left -21px
  }
  .tmp_fs{
    background-position:left -40px
  }

/*pagination*/
.pagin {
  text-align: center;
  font-size: 1.5em;
}
.actuel {
  background-color: #f0ad4e;
  padding: 3px 6px 3px 6px;
  margin: 5px;
}
.actuel a {
  color : white;
}
.voisin {
  margin: 5px;
  padding: 3px 6px 3px 6px;
}
/*fin de pagination*/
